_junk/**
mycodes
hws/**
educoder/**
slides/**
**.pdf
**/.vscode/**
tutorials/qt-2048.md
labs/build*
**.pro.user
labs/qt-tutorial-release
# *.in
# *.out
*cases
Debug
example
# in.txt
out.txt
*.exe
!tutorials/codes/答疑1/cases
!tutorials/codes/答疑2/cases
**/junk
codes/cb
!codes/VSCode/**